@font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumGothic.woff2') format('font-woff2');
}
:root{
    --bg: #fdfdfd;
    --gray1: #f1f3f6;
    --gray2: #e9ebef;
    --gray3: #b1b7c3;
    --point: #b0db9c;
    --title-font-size : 32px;
    --normal-font-size : 16px;
    --border-radius : 16px
}

body {
    font-family: 'NanumGothic';
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
#app{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#header{
    width: 100%;
    padding: 0 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--normal-font-size);
    border-bottom: 1px solid var(--gray1);
}
#header #nav{
    height: 100%;
}
#header #nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
}
#header #nav ul li{
    height: 100%;
}
#header #nav ul a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
}
#main{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.user_log{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.user_log,
.user_log li,
.user_log a{
    height: 100%;
}
.user_log a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#footer{
    width: 100%;
    height: 70px;
    background-color: var(--gray1);
}
